.commercial path {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5;
  stroke-opacity: 1;
  stroke-dasharray: 1586;
  transition: stroke-dashoffset 9s ease-in;
  stroke-dashoffset: -1586;
}

.commercial.in-view path {
  transition: stroke-dashoffset 3s ease;
  stroke-dashoffset: -25;
}
