@import 'settings';
@import 'foundation';
@import 'commercial';
@import 'extraction';
@import 'greenhouse';
@import 'residential';

@include foundation-everything;


/*----------------------------------------------------------
HEADER
----------------------------------------------------------*/

/* CANVAS
----------------------------------------------------------*/
.canvasSensor {
	height: 100vh;
}

.headerCanvas {
	display: block;
	position: absolute;
	background-color: white;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
}

/* LOGO
----------------------------------------------------------*/
.company-title {
	position: absolute;
	left: 0;
	bottom: 0;
	// top: 0;
	padding: $default-spacing;
    /* Below is a fix to prevent the fixed element from getting caught while scrolling by forcing hardware acceleration.
       See https://stackoverflow.com/questions/18185736/prevent-fixed-position-element-from-flickering-during-jquery-animation */
    transform: translateZ(0);
    z-index: 2;
}

// .company-text {
// 	font-size: 14rem;
// 	font-weight: bold;
// 	letter-spacing: -1rem;
// 	line-height: 0.5;
// }

.company-title .illustration {
	width: 85%;
	margin: 0 0;
}

/* MENU
----------------------------------------------------------*/
#menuToggle {
	box-sizing: content-box;
	position: absolute;
	border: $sticker-border;
	background-color: $translucent;
	right: 0;
	top: 0;
	min-width: $default-spacing;
	min-height: $default-spacing;
	margin: $default-spacing;
	font-size: 1.5rem;
	font-weight: bold;
}

#menuToggle input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	width: $default-spacing;
	height: $default-spacing;
	opacity: 0;
	cursor: pointer;
	z-index: 2; /* place it over the hamburger icon */
	-webkit-touch-callout: none;
}
#icon {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	right: 0;
	padding: $default-spacing / 4;
	padding-top: 11.5 * $default-spacing / 35;
	width: $default-spacing;
	height: $default-spacing;
}
#icon span {
	display: block;
	height: $default-spacing / 15;
	margin-bottom: $default-spacing / 14;
	background: black;
	z-index: 1;
	transform-origin: center;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.5s ease;
}
#menuToggle input:checked ~ #icon span:nth-child(1) { transform: translate(0, (1/15 + 1/14) * $default-spacing) rotate(45deg); }
#menuToggle input:checked ~ #icon span:nth-child(2) {
	opacity: 0;
	transform: scale(0.3, 0.3);
}
#menuToggle input:checked ~ #icon span:nth-child(3) { transform: translate(0, -(1/15 + 1/14) * $default-spacing) rotate(-45deg); }

.options {
	box-sizing: border-box;
	margin: 0;
	margin-right: $default-spacing;
	padding: 0;
	width: 0;
	height: 0;
	opacity: 0;
	list-style: none;
	// transition: width 30s, height 30s, padding 30s, margin 30s, opacity 30s;
	transition: width 0.75s ease,
				height 0.75s  ease,
				padding 0.75s  ease,
				margin 0.75s ease,
				opacity 0.75s cubic-bezier(.75,0,0,1.25);
}
.options li {
	line-height: normal;
	margin-bottom: $default-spacing / 8;
}
.options li:last-child { margin-bottom: 0; }
.options a { color: $black; }
.options a:hover { color: $default-color; }
#menuToggle input:checked ~ .options {
	padding: $default-spacing / 2;
	opacity: 1;
	width: 2*$default-spacing;
	height: 1.75*$default-spacing;
}


/* PHONE
----------------------------------------------------------*/
@media screen and (min-width : map-get($breakpoints, small)) and (max-width : map-get($breakpoints, medium)) {
	#menuToggle {
		margin: $default-spacing / 4;
		margin-top: $default-spacing / 2;
	}
	.company-title {
		padding: $default-spacing / 4;
		padding-bottom: $default-spacing / 2;
	}
}

@media screen and (min-width : map-get($breakpoints, small)) and (max-width : map-get($breakpoints, large)) {
	.company-title .illustration { width: 40%; }
}


/*----------------------------------------------------------
BODY
----------------------------------------------------------*/

article * {
	z-index: 3;
}

.cell {
	background-color: $translucent;
	border: $sticker-border;
}

.cell .illustration {
	display: block;
	// width: 55%;
	// height: 55%;
	margin: ($default-spacing / 4) auto 0;
}

.residential { width: 55%; }
.commercial { width: 75%; }
.extraction { width: 55%; }
.greenhouse { width: 60%; }

.grid-x {
	margin-bottom: 1 * $default-spacing;
}

.projects-by-type-menu {
	background-color: transparent;
	border: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;

	// Need the following since JS reworks the list item widths upon DOM load, but causes visible
	// shift of list items in its container. We hide by default and unhide after JS does its thing
	// so that there is no shifting of lis, but instead it appears for the first time with intended
	// appearance. Note that now the ul flashes on page load a ms or two later than other elements,
	// which is still not ideal, but hey...
	visibility: hidden;
}

.projects-by-type-menu li {
	border: $sticker-border;
	border-left: none;
	border-right: none;
	border-bottom: none;

	list-style-type: none;

	min-width: 4rem;
	max-width: 7.5rem;
	padding: 0.5rem;
	margin-left: 2em;
	margin-bottom: 1em;

	overflow-wrap: break-word;
}

.fh-service {
	margin-right: 0.5rem;
}
.fh-service::after {
	margin-left: 0.5rem;
	content: "+";
}
.fh-service:last-of-type::after { 
	margin-right: 0;
	content: "";
}